body {
    margin: 0;
    background: url("images/main_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, serif;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered a {
    display: block;
    text-align: center;
    color: red;
    margin-top: 30px;
    font-size: 18px;
}
